<div class="tpay-insidebg" id="main-payment">
  <div id="groups_v" class="tpay-panel-inside-content">
    <div id="bank-selection-form" class="tpay-groups-wrapper">
    {% for key, val in options %}
      <div class="tpay-group-holder tpay-with-logo" id="bank-{{ key }}">
        <div class="tpay-group-name">{{ val.name }}</div>
        <div class="tpay-group-logo-holder">
          <img src="{{ val.img }}" class="tpay-group-logo" alt="{{ val.name }}">
        </div>
      </div>
    {% endfor %}
    </div>
    <input type="hidden" name="tpay_bank_selection" id="tpay_bank_selection" value="">
  </div>
</div>
